In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, isnan, when, mean


spark = SparkSession.builder \
    .appName("Tarea3_16") \
    .getOrCreate()

In [2]:
# 2. Cargar datos desde el CSV
df = spark.read.csv("student_depression_dataset.csv", header=True, inferSchema=True)

In [3]:
# 3. Mostrar primeras filas y esquema
df.show(5)
df.printSchema()

+---+------+----+-------------+----------+-----------------+-------------+----+------------------+----------------+-------------------+--------------+-------+-------------------------------------+----------------+----------------+--------------------------------+----------+
| id|Gender| Age|         City|Profession|Academic Pressure|Work Pressure|CGPA|Study Satisfaction|Job Satisfaction|     Sleep Duration|Dietary Habits| Degree|Have you ever had suicidal thoughts ?|Work/Study Hours|Financial Stress|Family History of Mental Illness|Depression|
+---+------+----+-------------+----------+-----------------+-------------+----+------------------+----------------+-------------------+--------------+-------+-------------------------------------+----------------+----------------+--------------------------------+----------+
|  2|  Male|33.0|Visakhapatnam|   Student|              5.0|          0.0|8.97|               2.0|             0.0|        '5-6 hours'|       Healthy|B.Pharm|                                  Yes|             3.0|             1.0|                              No|         1|
|  8|Female|24.0|    Bangalore|   Student|              2.0|          0.0| 5.9|               5.0|             0.0|        '5-6 hours'|      Moderate|    BSc|                                   No|             3.0|             2.0|                             Yes|         0|
| 26|  Male|31.0|     Srinagar|   Student|              3.0|          0.0|7.03|               5.0|             0.0|'Less than 5 hours'|       Healthy|     BA|                                   No|             9.0|             1.0|                             Yes|         0|
| 30|Female|28.0|     Varanasi|   Student|              3.0|          0.0|5.59|               2.0|             0.0|        '7-8 hours'|      Moderate|    BCA|                                  Yes|             4.0|             5.0|                             Yes|         1|
| 32|Female|25.0|       Jaipur|   Student|              4.0|          0.0|8.13|               3.0|             0.0|        '5-6 hours'|      Moderate| M.Tech|                                  Yes|             1.0|             1.0|                              No|         0|
+---+------+----+-------------+----------+-----------------+-------------+----+------------------+----------------+-------------------+--------------+-------+-------------------------------------+----------------+----------------+--------------------------------+----------+
only showing top 5 rows

root
 |-- id: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- City: string (nullable = true)
 |-- Profession: string (nullable = true)
 |-- Academic Pressure: double (nullable = true)
 |-- Work Pressure: double (nullable = true)
 |-- CGPA: double (nullable = true)
 |-- Study Satisfaction: double (nullable = true)
 |-- Job Satisfaction: double (nullable = true)
 |-- Sleep Duration: string (nullable = true)
 |-- Dietary Habits: string (nullable = true)
 |-- Degree: string (nullable = true)
 |-- Have you ever had suicidal thoughts ?: string (nullable = true)
 |-- Work/Study Hours: double (nullable = true)
 |-- Financial Stress: string (nullable = true)
 |-- Family History of Mental Illness: string (nullable = true)
 |-- Depression: integer (nullable = true)

In [4]:
# 4. Limpieza de datos
# Quitar duplicados
df = df.dropDuplicates()

In [5]:
# Quitar filas con valores nulos o vacíos
df = df.dropna(how="any")

In [8]:
# Contar valores nulos por columna (análisis previo)
null_counts = df.select([count(when(col(c).isNull() | isnan(c), c)).alias(c) for c in df.columns])
null_counts.show()

+---+------+---+----+----------+-----------------+-------------+----+------------------+----------------+--------------+--------------+------+-------------------------------------+----------------+----------------+--------------------------------+----------+
| id|Gender|Age|City|Profession|Academic Pressure|Work Pressure|CGPA|Study Satisfaction|Job Satisfaction|Sleep Duration|Dietary Habits|Degree|Have you ever had suicidal thoughts ?|Work/Study Hours|Financial Stress|Family History of Mental Illness|Depression|
+---+------+---+----+----------+-----------------+-------------+----+------------------+----------------+--------------+--------------+------+-------------------------------------+----------------+----------------+--------------------------------+----------+
|  0|     0|  0|   0|         0|                0|            0|   0|                 0|               0|             0|             0|     0|                                    0|               0|               0|                               0|         0|
+---+------+---+----+----------+-----------------+-------------+----+------------------+----------------+--------------+--------------+------+-------------------------------------+----------------+----------------+--------------------------------+----------+

In [9]:
# 5. Transformaciones necesarias (renombrar columnas, convertir tipos si aplica)
# Ejemplo: cambiar nombres de columnas si tienen espacios
for c in df.columns:
    df = df.withColumnRenamed(c, c.strip().replace(" ", "_"))

In [10]:
# 6. Análisis exploratorio (EDA)
print("=== Descripción estadística ===")
df.describe().show()

=== Descripción estadística ===
+-------+------------------+------+-----------------+-------------+----------------+------------------+--------------------+------------------+------------------+--------------------+--------------+--------------+----------+-------------------------------------+-----------------+------------------+--------------------------------+-------------------+
|summary|                id|Gender|              Age|         City|      Profession| Academic_Pressure|       Work_Pressure|              CGPA|Study_Satisfaction|    Job_Satisfaction|Sleep_Duration|Dietary_Habits|    Degree|Have_you_ever_had_suicidal_thoughts_?| Work/Study_Hours|  Financial_Stress|Family_History_of_Mental_Illness|         Depression|
+-------+------------------+------+-----------------+-------------+----------------+------------------+--------------------+------------------+------------------+--------------------+--------------+--------------+----------+-------------------------------------+-----------------+------------------+--------------------------------+-------------------+
|  count|             27901| 27901|            27901|        27901|           27901|             27901|               27901|             27901|             27901|               27901|         27901|         27901|     27901|                                27901|            27901|             27901|                           27901|              27901|
|   mean|  70442.1494211677|  NULL|25.82230027597577|          3.0|            NULL|3.1412135765743163|4.300921113938568...| 7.656104171893657| 2.943837138453819|6.809791763736067E-4|          NULL|          NULL|      NULL|                                 NULL|7.156983620658758|3.1398666571080365|                            NULL| 0.5854987276441704|
| stddev|40641.175216397976|  NULL| 4.90568744892432|         NULL|            NULL| 1.381464841327594| 0.04399203206392466|1.4707073462076148| 1.361147955266985|0.044394396218606885|          NULL|          NULL|      NULL|                                 NULL|3.707642072778763|1.4373466968345754|                            NULL|0.49264456369310844|
|    min|                 2|Female|             18.0| 'Less Delhi'|'Civil Engineer'|               0.0|                 0.0|               0.0|               0.0|                 0.0|   '5-6 hours'|       Healthy|'Class 12'|                                   No|              0.0|               1.0|                              No|                  0|
|    max|            140699|  Male|             59.0|Visakhapatnam|         Teacher|               5.0|                 5.0|              10.0|               5.0|                 4.0|        Others|     Unhealthy|       PhD|                                  Yes|             12.0|                 ?|                             Yes|                  1|
+-------+------------------+------+-----------------+-------------+----------------+------------------+--------------------+------------------+------------------+--------------------+--------------+--------------+----------+-------------------------------------+-----------------+------------------+--------------------------------+-------------------+

In [11]:
# Distribución por columna clave
if 'Gender' in df.columns or 'gender' in df.columns:
    df.groupBy("Gender").count().show()

+------+-----+
|Gender|count|
+------+-----+
|Female|12354|
|  Male|15547|
+------+-----+

In [12]:
# Ejemplo: promedio de edad o síntomas
numeric_cols = [c for (c, dtype) in df.dtypes if dtype in ('int', 'double')]
for colname in numeric_cols:
    df.select(mean(col(colname)).alias(f"Average_{colname}")).show()

+----------------+
|      Average_id|
+----------------+
|70442.1494211677|
+----------------+

+-----------------+
|      Average_Age|
+-----------------+
|25.82230027597577|
+-----------------+

+-------------------------+
|Average_Academic_Pressure|
+-------------------------+
|       3.1412135765743163|
+-------------------------+

+---------------------+
|Average_Work_Pressure|
+---------------------+
| 4.300921113938568...|
+---------------------+

+-----------------+
|     Average_CGPA|
+-----------------+
|7.656104171893657|
+-----------------+

+--------------------------+
|Average_Study_Satisfaction|
+--------------------------+
|         2.943837138453819|
+--------------------------+

+------------------------+
|Average_Job_Satisfaction|
+------------------------+
|    6.809791763736067E-4|
+------------------------+

+------------------------+
|Average_Work/Study_Hours|
+------------------------+
|       7.156983620658758|
+------------------------+

+------------------+
|Average_Depression|
+------------------+
|0.5854987276441704|
+------------------+

In [13]:
# 7. Guardar resultados procesados
df.write.mode("overwrite").csv("processed_student_depression_data", header=True)

In [14]:
# Finalizar sesión Spark
spark.stop()